.player-stat-container {
  position: relative; 
  width: 65vw;
  display: flex; 
  justify-content: space-around; 
  z-index: 1;
} 

.player-stat-container::before {
  content: ""; 
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url('../../../assets/soccer_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 37%; 
  position: absolute; 
} 

.player-card {
  line-height: 0rem;
  width: 30%;
  height: 100%;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(128,128,128, 0.5);
}

.stat-card {
  height: 100%;
  line-height: 0rem;
  width: 30%;
  border-radius: 5%;
  color: greenyellow;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(128,128,128, 0.5);
  overflow: wrap;
}

.image-container { 
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  height: 14rem;
  border-radius: 25%;
}

.name-container {
  margin-left: 2rem;
  color: blue;
}

.attribute-container {
  line-height: 1rem;
  color: firebrick;
  margin-left: 3rem;
}

.paragraph {
  word-break: break-all;
}

.edit-profile {
  margin-left: 2rem;
}

.list { 
  line-height: 1.5em;
}