.registration-athlete-page {
  min-height: 100vh;
  max-height: max;
  font-family: Oxygen;
  padding: 20px 40px 40px 40px;
  background-color: white;
}

.registration-athlete-header {
  text-align: center;
  padding: 2px;
  border: 2px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.1);
  font-size: 30px;
  border-radius: 10px;
}

.athlete-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5px;
  margin-bottom: 30px;
} 

.athlete-form label {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
} 

.athlete-form input[type = text],
.athlete-form input[type = number],
.athlete-form select {
  box-sizing: border-box;
  width: 90%;
  margin-top: 10px;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.1);
  border-radius: 10px;
} 

.talents-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.athlete-form input[type = checkbox] {
  margin: 10px 10px 0px 5px;
}

.checkbox-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  width: 0; 
  height: 0;
}

.checkbox-label span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px; 
  height: 20px;
  background-color: #ddd;
  transition: .3s background-color; 
}

.checkbox-label span:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.checkbox-label:hover span {
  background-color: #ccc;
}

.checkbox-label input:checked ~ span {
  background-color: #2eaadc;
}

.checkbox-label input:checked ~ span:after {
  display:block;
}

.awards-container {
  margin-top: 40px;
}

.awards-input {
  width: 70%;
}

.register-button {
  font-size: 20px;
  margin-top: 20px;
  border: none;
  font-family: inherit;
  cursor: pointer;
  background-color: #34E3AC;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 20px 10px;
  min-width: 20ch;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
}

.register-button:hover,
.register-button:focus {
  background: #3AFDF6;
}

.register-button:hover,
.register-button:focus {
  background: #3AFDF6;
}

.register-button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.register-button:active {
  transform: scale(0.99);
}

.register-button {
  background: #3AFDF6;
}

.register-button:hover,
.register-button:focus {
  background: #34E3AC;
}

.register-button:disabled {
  background: grey;
}

.not-completed {
  margin-top: 20px;
  color: rgb(209, 22, 22);
  font-style: italic;
}

@media screen and (max-width: 900px) {
  .athlete-form label {
    margin-top: 40px;
  } 
  
  .athlete-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }


  .awards-container {
    margin-top: 80px;
  }
}


@media screen and (max-width: 500px) {
  .athlete-form label {
    margin-top: 40px;
  } 

  .athlete-stats {
    display: grid;
    grid-template-columns: 1fr;
  }

  .talents-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .awards-container {
    margin-top: 80px;
  }

  .awards-input {
    width: 90%;
  }
}