.registration-page {
  padding: 40px;
}

.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
} 

/* .form label {
  margin-bottom: 10px;
} */

/* .form input,
.form select {
  margin: 10px;
} */