.error-container {
  padding: 0px;
  margin: 0px; 
  display: flex;
  margin: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-message {
  padding: 0px;
  margin: 20px; 
  font-size: 70px;
}


.error {
  width: 400px; 
  height: 400px; 
  border: none;
  pointer-events: none;
}