.header {
  display: flex;
  /* flex-direction: row; */
  /* margin-top: -5px; */
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.links-div {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hover-span {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hover-span:hover { 
  background-color: grey;
}

.header-logo {
  width: 25%;
}

.header-logo:hover {
  /* cursor: pointer; */
}

.header-text {
  display: flex;
  margin-right: 3vw;
  text-decoration: none;
  font-size:3vw;
  /* text-align: center; */
  /* color: grey; */
}

.header-text:hover {
  color: white;
}

.header-active {
  color: white;
}