.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.links-div {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hover-span {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hover-span:hover { 
  background-color: grey;
}

.header-logo {
  width: 25%;
}

.header-text {
  display: flex;
  margin-right: 3vw;
  text-decoration: none;
  font-size:2vw;
}

.header-text:hover {
  color: white;
}

.header-active {
  color: white;
}