.athlete-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsl(160, 7%, 8%);
  /* opacity: 0.20; */
}

.athlete-form-search {
  border: 2px solid whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
  padding: 1% 0 1% 0;
  width: 70%;
  padding: 2%;
}

.athlete-form-search:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: 4px solid rgb(108, 3, 3);
  background: rgb(32, 38, 36);
}

.search-button-team {
  margin: 1%;
  border-radius: 10%;
}

.search-button-team:hover {
  color: whitesmoke;
  background: rgb(108, 3, 3);
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.search-teams-container {
  text-align: center;
  border: 2px solid whitesmoke;
  width: 70%;
}

.search-teams-container:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: 4px solid rgb(108, 3, 3);
  background: rgb(32, 38, 36);
}

.search-text {
  color: whitesmoke;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
  margin: -5% 0% -5% 0%;
  padding-right: 2%;
}

.team-name-search {
  /* margin: 2%; */
  background: whitesmoke;
  color: #c6c6c6;
  font-size: 18px;
  /* padding: 10px 10px 10px 5px; */
  border: none;
  border: 3px solid rgb(108, 3, 3);
  /* margin-top: 1%; */
}

.team-name-search:focus {
  outline: none;
  color:rgb(108, 3, 3);
  font-family: monospace;
}

.no-search-founded {
  text-align: center;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  width: 70%;
}

.no-match-text {
  margin: 20%;
  font-size: 350%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.search-invitation-text {
  margin: 23%;
  font-size: 350%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.search-all {
  color: whitesmoke;
  padding: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  display: block;
}

.input-team-select-container {
  padding-left: 2%;
}
