.login-page {
  padding: 40px;
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

.login-section {
  display: flex;
  justify-content: space-around;
}

.login-containers {
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px 60px 40px 60px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

button {
  font-size: 20px;
  margin: 15px;
  border: none;
  font-family: inherit;
  cursor: pointer;
  background-color: #34E3AC;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 20px 10px;
  min-width: 20ch;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
}

button:hover,
button:focus {
    background: #3AFDF6;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

