.main {
  display: flex;
  background-image: url('../../assets/soccer_background.png');
  /* height: 500px; You must set a specified height */
  /* background-position: center; Center the image */
  background-repeat: no-repeat;
  background-size: cover;
  object-position: 0% 50%;
  justify-content: space-around;
  border: 2px solid black;
}

.player-card {
  line-height: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(128,128,128, 0.5);
}

.image-container { 
  display: flex;
  align-items: center;
}

.avatar {
  height: 14rem;
}

.stat-card {
  line-height: 0rem;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(128,128,128, 0.5);
}

.list { 
  line-height: 1.5em;
}