main {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
}

.player-card {
  line-height: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid green;
}

.image-container { 
  display: flex;
  align-items: center;
}

.avatar {
  height: 14rem;
}

.stat-card {
  line-height: 0rem;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid blue;
}

.list { 
  line-height: .5rem;
}